*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav-ul{
    padding: 20px 15px ;
    margin: 0;
    background-color: #555;
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-ul .links{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.float {
    justify-content: flex-end;
}
